<%= form_with(model: book1, local: true) do |form| %>
  <% if book1.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book1.errors.count, "error") %> prohibited this book1 from being saved:</h2>

      <ul>
      <% book1.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :rake_no %>
    <%= form.number_field :rake_no %>
  </div>

  <div class="field">
    <%= form.label :book_no %>
    <%= form.number_field :book_no %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.text_field :student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
