<h1>create an user</h1>
<%= form_for @user do |f| %>
    <p>
      <%= f.label :uname %><br>
      <%= f.text_field :uname %><br>
    </p>
    <p>
      <%= f.label :uemail %><br>
      <%= f.text_field :uemail %>
    </p>
    <p>
      <%= f.submit %>
    </p>
    <% end %>