<p id="notice"><%= notice %></p>

<p>
  <strong>Std:</strong>
  <%= @standard.std %>
</p>

<p>
  <strong>Section:</strong>
  <%= @standard.section %>
</p>

<%= link_to 'Edit', edit_standard_path(@standard) %> |
<%= link_to 'Back', standards_path %>
